@media screen and (max-width:768px){
    div.welcome h1{
        font-size: 36px;
      }
    div.welcome p.gray{
        font-size: 18px;
      }
    a.closebtn,a i.navbar-menu{
      display: block;
    }
}

@media screen and (max-width:575px){
  div.welcome h1{
    font-size: 8dvw;
  }
  div.welcome p.gray{
    font-size: 4dvw;
  }
  div.welcome img{
    width: 55%;
  }
}